<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="appName"
                    source="spring.application.name"
                    defaultValue="app"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <!-- Renombra el campo timestamp -->
            <timestampPattern>yyyy-MM-dd'T'HH:mm:ss.SSS'Z'</timestampPattern>
            <timeZone>UTC</timeZone>

            <!-- Incluye TODOS los campos MDC (aquí viven traceId y spanId) -->
            <includeMdcKeyName>traceId</includeMdcKeyName>
            <includeMdcKeyName>spanId</includeMdcKeyName>

            <!-- Campo fijo con el nombre del servicio -->
            <customFields>{"service":"${appName}"}</customFields>

            <!-- Campos adicionales del contexto de Brave/Micrometer -->
            <provider class="net.logstash.logback.composite.loggingevent.MdcJsonProvider"/>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- Nivel específico para tu paquete -->
    <logger name="rca.inventario" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

</configuration>